/InventoryClient/nbproject/private/
/InventoryManagementSystem/nbproject/private/
/InventoryManagementSystem/InventoryManagementSystem-war/nbproject/private/
/InventoryManagementSystem/InventoryManagementSystem-ejb/nbproject/private/
/InventoryManagementSystem/InventoryManagementSystem-ejb/build/
/InventoryManagementSystem/InventoryManagementSystem-ejb/dist/
/InventoryManagementSystem/InventoryManagementSystem-war/build/
/InventoryManagementSystem/build/
/InventoryManagementSystem/InventoryManagementSystem-war/dist/